#mySidebar a {
  margin-top: 150px;
  position: absolute;
  left: -98px;
  transition: 0.2s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 1.3em;
  color: #555;
  border-radius: 0 5px 5px 0;
  border: #555 solid 1px;
  background-color: #555;
}
#mySidebar a:hover {
  left: 0;
  background-color: white;
  color: #555;
}
#option1 {
  top: 20px;
}
#option2 {
  top: 80px;
}
#option3 {
  top: 140px;
}
#option4 {
  top: 200px;
}
